*.sdf
/vc1*
/compiled
/releases
/packages
*.user
*.config
*.psess
*.vspx
*.aps

/ipch
/.vs
*.suo
*.opensdf
*.db
*.opendb
*.exe
*- Copy*


*.tmp
/enc_temp_folder
vcpkg_installed


/installer/Web-resources
/installer/Strings.xml
/airdcpp/scripts/translations

CMakeCache.txt
CMakeFiles

msvc
