*.sdf
/vc1*
/compiled
/releases
/packages
*.user
*.config
*.psess
*.vspx
*.aps
/installer/Web-resources
/installer/Strings.xml
/installer/.transifexrc
/installer/dummy.transifexrc
/ipch
/.vs
*.suo
*.opensdf
*.db
*.opendb
*.exe
*- Copy*
*.tmp
/enc_temp_folder
vcpkg_installed
