*.sdf
/vc1*
/compiled
/releases
/packages
*.user
*.config
*.psess
*.vspx
*.aps
/installer/Web-resources
/installer/Strings.xml
/installer/.transifexrc
/installer/dummy.transifexrc
/scripts/ftp_credentials.txt
/ipch
*.suo
*.opensdf
*.db
*.opendb
*.exe
*- Copy*
